body {
  background-color: #f5fef6;
  font-family: "Times New Roman", Times, serif;
}
.icons {
  margin: 20px auto 0;
  text-align: center;
  width: 80px;
  border: 1px solid #bab4b3;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  background: linear-gradient(to right, #beb9b4 0%, #a6cde8 100%);
  color: rgb(245, 199, 199);
}
.icon-right {
  font-size: large;
}

.icon-middle {
  font-size: xx-large;
}
.icon-left {
  font-size: small;
}
.icon-bottom {
  font-size: small;
}
h1 {
  display: block;
  margin: 0 auto 20px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 36px;

  width: 300px;
  border-radius: 10px;
  background-color: rgb(230, 247, 254);
}

h2 {
  margin: 0, 0, 0.5px;
  font-size: 28px;
}

.container {
  max-width: 600px;
  margin: 40px auto;
  background: #f0fafb;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 10px;
}
.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.city:last :last-child {
  border: none;
}
.date {
  opacity: 0.7;
}
.time {
  font-size: 48px;
  font-weight: bold;
}
.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
}
select {
  display: block;
  width: 100%;
  font-size: 14px;
  border-radius: 4px;
  padding: 10px;
}

footer {
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
}
a {
  text-decoration: none;
}
